#allstar {
    width: 70%;
    height: 80vh;
    overflow: hidden;
    display: grid;
    grid-template-columns: 15% 15% 70%;
    grid-template-rows: 5rem 20rem 20rem;
    row-gap: 1rem;
    column-gap: 1rem;
    justify-content: center;
    align-items: center;
    margin: 5rem auto;
  }
  
  #cancha {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    border-radius: 1rem;
    width: 20rem;
    height: 26.6rem;
    background-image: url(../img/titulares.png);
    position: relative;
    grid-column: 1 / span 2;
    margin: auto;
    grid-column: 1 / span 2;
    grid-row: 2 / span 2;
  }
  
  #cancha div {
    position: absolute;
    z-index: 999;
  }
  
  #jugador1 {
    left: 68.23px;
    top: 31.98px;
    width: 96.15px;
    height: 121.63px;
  }
  #jugador2 {
    left: 160.25px;
    top: 31.98px;
    width: 96.15px;
    height: 121.63px;
  }
  #jugador3 {
    left: 108.97px;
    top: 155.38px;
    width: 96.15px;
    height: 121.63px;
  }
  #jugador4 {
    left: 68.23px;
    top: 285.52px;
    width: 96.15px;
    height: 121.63px;
  }
  #jugador5 {
    left: 160.25px;
    top: 275.52px;
    width: 96.15px;
    height: 121.63px;
  }
  
  #west,
  #east {
    display: none;
  }
  
  #westLabel,
  #eastLabel {
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: uppercase;
    font-family: coolvetica;
    letter-spacing: 0.3rem;
    color: #414141;
  }
  
  #eastLabel {
    margin: auto;
    width: fit-content;
    border: 2px solid #414141;
    padding: 0.5rem 2rem;
    border-radius: 1rem;
    grid-column: 2;
    grid-row: 1;
  }
  
  #westLabel {
    margin: auto;
    grid-column: 1;
    grid-row: 1;
    border: 2px solid #414141;
    width: fit-content;
    padding: 0.5rem 2rem;
    border-radius: 1rem;
  }
  
  #west:checked + #westLabel {
    color: #e6de6e;
  }
  
  #east:checked + #eastLabel {
    color: #dae66e;
  }
  
  #west:checked ~ #cancha #jugador1 {
    background: url(../img/titulares.png) 250px 393.0555px;
  }
  
  #west:checked ~ #cancha #jugador2 {
    background: url(../img/titulares.png) 158px 393.0555px;
  }
  
  #west:checked ~ #cancha #jugador3 {
    background: url(../img/titulares.png) 211px 270.645px;
  }
  
  #west:checked ~ #cancha #jugador4 {
    background: url(../img/titulares.png) 251px 139.45px;
  }
  
  #west:checked ~ #cancha #jugador5 {
    background: url(../img/titulares.png) 158px 149.45px;
  }
  
  #east:checked ~ #cancha #jugador1 {
    background: url(../img/titulares.png) 250px 1243.0555px;
  }
  
  #east:checked ~ #cancha #jugador2 {
    background: url(../img/titulares.png) 158px 1243.0555px;
  }
  
  #east:checked ~ #cancha #jugador3 {
    background: url(../img/titulares.png) 211px 1121.645px;
  }
  
  #east:checked ~ #cancha #jugador4 {
    background: url(../img/titulares.png) 251px 991.45px;
  }
  
  #east:checked ~ #cancha #jugador5 {
    background: url(../img/titulares.png) 158px 1001.45px;
  }
  
  #west:checked ~ #cancha #jugador1:hover {
    background: url(../img/titulares.png) 250px 819.0555px;
  }
  
  #west:checked ~ #cancha #jugador2:hover {
    background: url(../img/titulares.png) 158px 819.0555px;
  }
  
  #west:checked ~ #cancha #jugador3:hover {
    background: url(../img/titulares.png) 211px 695.5555px;
  }
  
  #west:checked ~ #cancha #jugador4:hover {
    background: url(../img/titulares.png) 251px 565.0555px;
  }
  
  #west:checked ~ #cancha #jugador5:hover {
    background: url(../img/titulares.png) 158px 574.7555px;
  }
  
  #east:checked ~ #cancha #jugador1:hover {
    background: url(../img/titulares.png) 250px 1668.241px;
  }
  
  #east:checked ~ #cancha #jugador2:hover {
    background: url(../img/titulares.png) 158px 1668.241px;
  }
  
  #east:checked ~ #cancha #jugador3:hover {
    background: url(../img/titulares.png) 211px 1546.5555px;
  }
  
  #east:checked ~ #cancha #jugador4:hover {
    background: url(../img/titulares.png) 251px 1416.8555px;
  }
  
  #east:checked ~ #cancha #jugador5:hover {
    background: url(../img/titulares.png) 158px 1426.8555px;
  }
  
  #east:checked ~ #cancha #jugador2:hover ~ #donovanDetail {
    opacity: 1;
  }
  
  #west:checked ~ #cancha #jugador5:hover ~ #lukaDetail {
    opacity: 1;
  }