#historia {
    color: white;
    font-size: 1.5rem;
    text-align: center;
    width: 90%;
    margin: 4rem auto;
}

#spanishH {
    opacity: 1;
    position: relative;
}

#englishH {
    display: none;
    position: absolute;
}

#spanish:checked ~ #historia #spanishH {
    display: block;
    position: relative;
}

#spanish:checked ~ #historia #englishH {
    display: none;
    position: absolute;
}

#english:checked ~ #historia #spanishH {
    display: none;
    position: absolute;
}

#english:checked ~ #historia #englishH {
    display: block;
    position: relative;
}

#english:checked ~ #englishL {
    filter: brightness(1);
}

#spanish:checked ~ #spanishL {
    filter: brightness(1);
}

#language label {
    font-size: 2rem;
    filter: brightness(0.5);
    margin: 1rem;
}

#language {
    text-align: center;
}

#language label:hover {
    filter: brightness(0.7);
}

#language input {
    display: none;
}

#canvas {
    width: 307px;
    height: 282px;
    border-radius: 100rem;
    margin: auto;
    padding: 1rem 1rem 1rem 19rem;
    background: url('/img/animacion_logos.png');
    animation: playIdle 1.5s steps(12, end) infinite;
}

@keyframes playIdle {
    from {
        background-position: 0px 0px;
    }

    to {
        background-position: -4000px 0px;
    }
}