@import url(fonts.css);

#content {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(105deg, #6e99e6, #093c94);
}

#navbar {
  width: 100%;
  height: 6vh;
  background: transparent;
  display: flex;
  flex-direction: row;
  margin: auto;
  color: rgb(224, 224, 224);
  font-size: 1.2rem;
  font-family: coolvetica;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease;
  border-bottom: 1px solid rgba(161, 202, 209, 0.466);
  overflow: hidden;
}

#logo {
  width: 7rem;
  object-fit: contain;
  position: absolute;
  left: 0;
  filter: brightness(80%);
  transition: 0.5s ease;
}

#logo:hover {
  transform: none !important;
  filter: brightness(100%);
}

#navbar * {
  margin: 0.5rem;
  transition: 0.3s ease;
}

#navbar *:hover {
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.1), 1px -1px 0 rgba(0, 0, 0, 0.1),
    -1px 1px 0 rgba(0, 0, 0, 0.1), 1px 1px 0 rgba(0, 0, 0, 0.1);
  transform: scale(1.1);
}

.divider {
  margin: 0rem;
  height: 5rem;
  border-right: 1px solid rgba(161, 202, 209, 0.466);
}

.divider:hover {
  transform: none !important;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5vh;
  background: #00000031;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-family: coolvetica;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: rgb(191, 214, 214);
  border-top: 1px solid rgba(161, 202, 209, 0.466);
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.1), 1px -1px 0 rgba(0, 0, 0, 0.1),
    -1px 1px 0 rgba(0, 0, 0, 0.1), 1px 1px 0 rgba(0, 0, 0, 0.1);
}

#home {
  width: 100%;
  height: 80vh;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
}

#homeRight {
  position: relative;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem 5rem 1rem 1rem;
  flex-direction: column;
}

#homeLeft {
  position: relative;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem 1rem 1rem 8rem;
}

#homeLeft img {
  width: 30rem;
  height: 25rem;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#imgBehind {
  position: relative;
  filter: opacity(1) brightness(0.4);
}

#imgTop {
  position: relative;
  top: 8rem;
  left: -12rem;
}

#homeRight {
  font-family: coolvetica;
  text-align: end;
}

#homeRight #title {
  font-size: 3rem;
  opacity: 0.8;
}

#homeRight #subtitle {
  font-size: 4rem;
  color: white;
  text-shadow: -1px -1px 0 rgb(0, 0, 0),
    1px -1px 0 rgb(0, 0, 0) 1px 0 rgb(0, 0, 0), 1px 1px 0 rgb(0, 0, 0);
}

#navbar div a {
  text-decoration: none;
  color: rgb(224, 224, 224);
}

#allstar {
  width: 100%;
  height: 80vh;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
}

#allLeft {
  position: relative;
  width: 50%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 5rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem 5rem 1rem 1rem;
  /* flex-direction: column; */
  row-gap: 2rem;
}

#allLeft select {
  width: 25%;
  height: 3rem;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  background: #344150;
  border-radius: 2rem;
  color: white;
}

#allRight {
  position: relative;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem 5rem 1rem 1rem;
  flex-direction: column;
}

#cancha {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  border-radius: 1rem;
  width: 20rem;
  height: 26.6rem;
  background-image: url(../img/titulares.png);
  position: relative;
  grid-column: 1 / span 2;
  margin: auto;
}

#cancha div {
  position: absolute;
  z-index: 999;
}

#jugador1 {
  left: 68.23px;
  top: 31.98px;
  width: 96.15px;
  height: 121.63px;
}
#jugador2 {
  left: 160.25px;
  top: 31.98px;
  width: 96.15px;
  height: 121.63px;
}
#jugador3 {
  left: 108.97px;
  top: 155.38px;
  width: 96.15px;
  height: 121.63px;
}
#jugador4 {
  left: 68.23px;
  top: 285.52px;
  width: 96.15px;
  height: 121.63px;
}
#jugador5 {
  left: 160.25px;
  top: 285.52px;
  width: 96.15px;
  height: 121.63px;
}

#west,
#east {
  display: none;
}

#westLabel,
#eastLabel {
  margin: 1rem;
  font-size: 1.3rem;
  font-weight: bold;
  text-transform: uppercase;
  font-family: coolvetica;
  letter-spacing: 0.3rem;
  color: #414141;
}

#eastLabel {
  margin: auto;
  width: fit-content;
  border: 2px solid #414141;
  padding: 0.5rem 2rem;
  border-radius: 1rem;
}

#westLabel {
  margin: auto;
  border: 2px solid #414141;
  width: fit-content;
  padding: 0.5rem 2rem;
  border-radius: 1rem;
}

#west:checked + #westLabel {
  color: #e6de6e;
}

#east:checked + #eastLabel {
  color: #dae66e;
}

#west:checked ~ #cancha #jugador1 {
  background: url(../img/titulares.png) 251px 393.0555px;
}

#west:checked ~ #cancha #jugador2 {
  background: url(../img/titulares.png) 159px 393.0555px;
}

#west:checked ~ #cancha #jugador3 {
  background: url(../img/titulares.png) 211px 269.645px;
}

#west:checked ~ #cancha #jugador4 {
  background: url(../img/titulares.png) 251px 139.45px;
}

#west:checked ~ #cancha #jugador5 {
  background: url(../img/titulares.png) 159px 139.45px;
}

#east:checked ~ #cancha #jugador1 {
  background: url(../img/titulares.png) 251px 1243.0555px;
}

#east:checked ~ #cancha #jugador2 {
  background: url(../img/titulares.png) 159px 1243.0555px;
}

#east:checked ~ #cancha #jugador3 {
  background: url(../img/titulares.png) 211px 1120.645px;
}

#east:checked ~ #cancha #jugador4 {
  background: url(../img/titulares.png) 251px 991.45px;
}

#east:checked ~ #cancha #jugador5 {
  background: url(../img/titulares.png) 159px 991.45px;
}
