#logo {
  width: 7rem;
  object-fit: contain;
  filter: brightness(80%);
  transition: 0.5s ease;
}

#logo:hover {
  transform: none !important;
  filter: brightness(100%);
}

.nav-item {
  transition: 0.5s;
}

.nav-item:hover {
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.1), 1px -1px 0 rgba(0, 0, 0, 0.1),
    -1px 1px 0 rgba(0, 0, 0, 0.1), 1px 1px 0 rgba(0, 0, 0, 0.1);
  transform: scale(1.05);
}

.navbar {
  backdrop-filter: blur(6px);
  box-shadow: 0px 5px 10px 0px rgba(255, 255, 255, 0.1)
}