#navbar {
    height: 6vh;
    font-family: coolvetica;
    transition: 0.5s ease;
    border-bottom: 1px solid rgba(161, 202, 209, 0.466) !important;
    overflow: hidden;
  }
  
  #logo {
    width: 7rem;
    object-fit: contain;
    position: absolute;
    left: 0;
    filter: brightness(80%);
    transition: 0.5s ease;
  }
  
  #logo:hover {
    transform: none !important;
    filter: brightness(100%);
  }
  
  #navbar * {
    transition: 0.3s ease;
  }
  
  #navbar *:hover {
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.1), 1px -1px 0 rgba(0, 0, 0, 0.1),
      -1px 1px 0 rgba(0, 0, 0, 0.1), 1px 1px 0 rgba(0, 0, 0, 0.1);
    transform: scale(1.1);
  }
  
  .divider {
    height: 5rem;
    border-right: 1px solid rgba(161, 202, 209, 0.466);
  }
  
  .divider:hover {
    transform: none !important;
  }